<?xml version="1.0" encoding="UTF-8"?>
<suite name="Centurylink Suite" verbose="1">

	<listeners>
		<listener class-name="com.girish.ddf.ExtentReporterNG" />
	</listeners>



	<test name="login test">
		<classes>
			<class name="com.girish.ddf.logintestcases.loginTest" />
		</classes>
	</test>

	<test name="Add order private line">
		<classes>
			<class name="com.girish.ddf.ordering.AddOrder_PrivateLineTest" />

		</classes>
	</test>


	<test name="Disconnect order ">
		<classes>
			<class name="com.girish.ddf.ordering.DisconnectOrderTest" />

		</classes>
	</test>





</suite>